body{
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
}

.form{
    display: flex;
    flex-direction: column;
}

.one-line{
    display: flex;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

button{
    cursor: pointer;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(194, 194, 194);
    background: rgb(243, 244, 246);
    border-width: 1px;
}

p{
    width: 250px
}


input, select{
    width: 200px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: rgb(194, 194, 194);
    background: rgb(243, 244, 246);
    border-width: 1px;
    padding: 10px;
}

select{
    width: 222px;
    cursor: pointer;
}

option{
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    overflow: auto;
}


td,
th {
    border: 2px solid;
    border-color: rgb(194, 194, 194);
    padding: 8px;
    white-space: normal;
    text-align: center;
    vertical-align: middle;
}