@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.searchbar {
  width: 100%;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  font-size: 20px;
}

input:hover,
input:focus {
  outline: none;
}

.form {
  display: flex;
  width: 1200px;
  align-items: center;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  padding-left: 10px;
}

.input-button {
  background: #00bc52;
}

.products {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  column-gap: 10px;
}

.one-product {
  padding: 10px
}

.one-product img {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.product-price{
  font-weight: 500;
  font-size: 20px;
}

@media screen and (max-width: 1200px) and (min-width: 760px) {
  .wrapper {
    width: 100vw !important;
  }

  .products {
    grid-template-columns: repeat(3, minmax(0, 1fr));

  }
}

@media screen and (max-width: 760px) {
  .products {
    display: flex;
    flex-direction: column;
  }
}